.insane-container{
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}


.Friends-Box{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 250px;
    height: 80%;
}

.max_square{
    display: flex;
    justify-content: center;
}

#friend-tytle{
    margin: 0;
    background-color: purple;
    border-bottom: 2px solid #fff;
}

.cross{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;

}

.square{
    display:flex;
    width: 30%;
    height: 30%;
    background-color: #fff;
}

.square_2{
    display: flex;
    width: 30%;
    height: 95%;
    background-color: #fff;
    border-radius: 10px;
}

.square_1{
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px
}

.square_3{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px
}

.right-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
}


.friend-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(97, 97, 97);
    border-bottom: 1px solid #fff;
}

.friend-container p {
    margin: 0;
    width: fit-content;

}

.search-friend{
    width: 100%;
}

.search_container{
    display: flex;
}

.image-friend{
    width: 50px;
    margin-right: 10px;
}

.url-friend{
    text-decoration: none;
    color: #fff;
    background-color: red;
}

.show-friends{
    overflow-y: scroll;
}


.url-friend:hover{
    opacity: .85;
}

#more_friends{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #FEE715;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: black;
    font-size: 15px;
    text-decoration: none;
}


