.profile_section img{
    width: 200px;
    margin: 10px 10px 0 10px;
}
.profile_section{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.top_chart{
    display: flex;
    flex-direction: row;
    background-color: #66666694;
    border-bottom: 1px solid #bebdbd;
    justify-content: space-between;
}

.a_settings{
    text-decoration: none;
}
.settings_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.settings_box img{
    width: 15px;
    height: 15px;
    margin:0 3px 0 0;
}
.settings{
    margin: 0;
    margin-right: 10px;
    color: #2a9cd1;
    
}

#username{
    margin: 0;
    margin-left: 10px;
}

.principal_container{
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 1px solid #bebdbd;;
}

.bottom_bar{
    display: flex;
    flex-direction: row;
    width: 91%;
    height: 40px;
    margin:  10px ;
}

#coment_button .message_box img{
    width: 20px;
    margin: 0;
}

#coment_button{
    width: 50%;
    margin-right: 10px;
}

.message_box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    height: 40px;
}

.add img{
    width: 20px;
    margin: 0;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 50%;
    height: 40px;
}

.sub_container{
    display: flex;
}

.comment{

}

#comment_input{
    width: 100%;

}

.input_container{
    display: flex;
    flex-direction: row;
}

.input_container button{
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.input_container button img{
    width: 20px;
}