<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="insane-container">
        <a id="Create_Group" href="{% url 'create_group' %}">Create Gruop</a>
        <div class="right-box">
            <div class="Friends-Box">
                <p id="friend-tytle">{{account.friends.count}} Friends</p>
                {% if 0 >= account.friends.count %}
                    <div class="no-friends">
                        <p>Try to add some friends</p>
                        <a href="{% url 'add_friends' %}">
                            <div class="max_square">
                                <div class="cross">
                                    <div class="square square_1"></div>
                                    <div class="square_2"></div>
                                    <div class="square square_3"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="show-friends">
                        <form method="post" class="search_container">
                            {% csrf_token %}
                            <input placeholder="Search in my friends" class="search-friend" type="text" name="user_input">
                            <button name="search" type="submit">Search</button>
                        </form>
                        {% for friend in friends %}
                            <a class="url-friend" href="{% url 'profile' friend.id %}">
                                <div class="friend-container">
                                    <img class="image-friend" src="{{friend.profile_img.url}}" alt="">
                                    <p>{{friend}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if account.friends.count  > 0 %} <a href="{% url 'add_friends' %}" id="more_friends">Add more friends</a> {% endif %}
        </div>
    </div>
</body>
</html>