<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{group.group_name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="insane-container">
        <div class="Chat-Box">
            <p class="Title">Chat</p>
            <div class="chat">
                {% for comment in comments %}
                <div class="box_comment {% if forloop.counter|divisibleby:2 %} background_1 {% endif %}">
                    <img src="{{comment.author.profile_img.url}}" alt="">
                    <div class="comment_part">
                        <div class="top_comment_box">
                            <div class="div-user-re">
                                <a href="{% url 'profile' comment.author.id %}" id="comment_username">{{comment.author}}</a>
                                {% if comment.author == account or account == group.owner %}
                                    <form id="remove_comment" method="post">
                                        {% csrf_token %}
                                        <button value="{{comment.id}}" name="remove-comment"><img src="../../media/used_media/cross.png" alt=""></button>
                                    </form>
                                {% endif%}
                            </div>
                            <p id="comment_date">{{comment.date }}</p>
                        </div>
                        <p id="comment">{{comment.message}}</p>
                    </div>
                </div> 
                {% endfor %}
            </div>
            <form method="post" class="type">
                {% csrf_token %}
                <input name="chat_input" id="keyboard" type="text">
                <button name="post_comment" type="submit">Submit</button>
            </form>
        </div>
        <div class="leaderbaord">
            <p class="Title">Leaderboard</p>
            <div class="graph_box">
                {% if group.players_ordered|length > 0 %}
                    <img id="crown_first_place" src="../../media/used_media/crown.png" alt="">
                    <div class="secundary_graph_box">
                        <div class="div_graph">
                            {% if second_place %}
                                <div class="inside_div second_place">
                                    <div class="player_inf_leaderboard">
                                        <div class="player_box">
                                            <img src="{{second_place.profile_img.url}}" alt="">
                                            <p>{{second_place}}</p>
                                        </div>
                                        <h2>2nd</h2>
                                    </div>
                                </div>  
                            {% endif %}
                        </div>
                        <div class="div_graph">
                            <div class="inside_div first_place">
                                <div class="player_inf_leaderboard">
                                    <div class="player_box">
                                        <img src="{{first_place.profile_img.url}}" alt="">
                                        <p>{{first_place}}</p>
                                    </div>
                                    <h2>1st</h2>
                                </div>
                            </div>
                        </div>
                        <div class="div_graph">
                            {% if third_place %}
                                <div class="inside_div third_place">
                                    <div class="player_inf_leaderboard">
                                        <div class="player_box">
                                            <img src="{{third_place.profile_img.url}}" alt="">
                                            <p>{{third_place}}</p>
                                        </div>
                                        <h2>3rd</h2>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <p style="font-size:30px;font-weight: 600; margin: 5px 0;">Players</p>
            <div class="sub_conatiner">
                <div class="all_members_box">
                    <div class="all_members">
                        {% for player in group.players_ordered %}
                            <div class="player_poops">
                                <p>{{forloop.counter}}°</p>
                                <p id="all_player_name">{{player}}</p>
                                <p>{{player.global_poops}} {% if player.global_poops > 1 %} poops {% else %} poop {% endif %}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="Friends-Box">
            <div class="top_members">
                <p class="friend-tytle friend-tytle_group">{{group.num_members}}/16 joined</p>
                <div class="max_square max_square_group">
                    <div class="cross cross_groups">
                        <div class="square square_1"></div>
                        <div class="square_2"></div>
                         <div class="square square_3"></div>
                    </div>
                    <div class="drop_down_menu">
                        <p style="margin: 0;">Invite Friends</p>
                        {% for f in account.friends.all %}
                            {% if f not in group.members.all %}
                            <div class="friend-container invite_friends">
                                <img class="image-friend" src="{{f.profile_img.url}}" alt="">
                                <div class="namer-tag">
                                    <p>{{f}}</p>
                                </div>
                                {% if not f in account.check_gr_sent %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" value="{{f.id}}" name="invite_member">Invite</button>
                                    </form>
                                {% else %}
                                    <p>Invited</p>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
                <div class="show-friends">
                    {% for player in group.members.all %}
                        <a class="url-friend" href="{% url 'profile' player.id %}">
                            <div class="friend-container group_page {% if player == account %} owner-group {% endif %}">
                                <img class="image-friend" src="{{player.profile_img.url}}" alt="">
                                <div class="namer-tag">
                                    <p>{{player}}</p>
                                    {% if player == group.owner %}
                                        <img id="crown" src="../../media/used_media/crown.png" alt="">
                                    {% endif %}
                                </div>
                                {% if player != account and request.user == group.owner.owner %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" value="{{player.id}}" name="kick_member">Kick</button>
                                    </form>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
        </div>
    </div>
</body>
</html>