<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="principal_container">
        <div class="top_chart">
            <p id="username">{{profile}}'s Profile</p>
            {% if profile.owner == request.user %}
            <a class="a_settings" href="">
                <div class="settings_box">
                    <img src="../../media/used_media/gear(1).png" alt="">
                    <p class="settings" href="">Profile Settings</p>
                </div>
            </a>
            {% endif %}
        </div>
        <div class="sub_container">
            <div class="profile_section">
                <img src="{{profile.profile_img.url}}" alt="">
                <div class="bottom_bar">
                    <a href="" id="coment_button">
                        <div class="message_box">
                            <img src="../../media/used_media/message.png" alt="">
                        </div>
                    </a>
                    {% if sent %}
                        <div class="add added">
                            <img src="../../media/used_media/added.png" alt="">
                        </div>
                    {% else %}
                        <form class="add" method="post">
                            {% csrf_token %}
                            <button type="submit" name="send_friend_request" id="button_friend_request">
                                <img src="../../media/used_media/add_friend.png" alt="">
                            </button>
                        </form>
                    {% endif %}
                    
                </div>
            </div>
    
            <div class="third_container">
                <div class="commnet">
                    <p>Comment</p>
                    <form method="post" class="input_container">
                        {% csrf_token %}
                        <input id="comment_input" type="text" placeholder="Add a comment" name="user_comment">
                        <button name="submit_comment" type="submit">
                            <img src="../../media/used_media/send.png" alt="">
                        </button>
                    </form>
                    <div class="all_comments">
                            {% for comment in all_coments %}
                            <div class="box_comment {% if forloop.counter|divisibleby:2 %} background_1 {% endif %}">
                                <img src="{{comment.author.profile_img.url}}" alt="">
                                <div class="comment_part">
                                    <div class="top_comment_box">
                                        <a href="{% url 'profile' comment.author.id %}" id="comment_username">{{comment.author}}</a>
                                        <p id="comment_date">{{comment.dtae }}</p>
                                    </div>
                                    <p id="comment">{{comment.message}}</p>
                                    {% if comment.author == account or profile == account %}
                                    <form method="post" class="delete_comment_box">
                                        {% csrf_token %}
                                        <Button name="delete_comment" value="{{comment.id}}" type="submit">Delete</Button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>  
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>