<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="principal_container">
        <div class="top_chart">
            <p id="username">{{profile}}'s Profile</p>
            {% if profile.owner == request.user %}
            <a class="a_settings" href="">
                <div class="settings_box">
                    <img src="../../media/used_media/gear(1).png" alt="">
                    <p class="settings" href="">Profile Settings</p>
                </div>
            </a>
            {% endif %}
        </div>
        <div class="profile_section">
            <img src="{{profile.profile_img.url}}" alt="">
        </div>
    </div>
</body>
</html>