<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEst</title>
    <style>
        .box{
            background-color: red;
            width: 100px;
            height: max-content;
        }

        .text{
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="box">
        <P>bOX1</P>
        <P class="text">hELLOOOOOhELLOOOOOhELLOOOOOhELLOOOOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOhELLOOOOOhELLOOOOOhELLOOOOOhELLvOOhELLOOOOOhELLOOOOOhELLOOOOOhELLOOOOOV</P>
    </div>
</body>
</html>